.body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper1,
#wrapper2,
#wrapper3,
#wrapper4 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

h1,
h2,
h3,
.answering {
  font-size: 1.5vw;
  color: azure;
  margin: 0;
}

#header1 {
  font-size: 2vw;
  color: aliceblue;
  background-color: rgba(7, 57, 220, 0.993);
  border: 2px solid black;
  width: 100%;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

#finalBoard {
  font-size: 1.5vw;
  color: aliceblue;
  background-color: rgba(7, 57, 220, 0.993);
  padding-left: 3em;
  padding-right: 3em;
  border: 2px solid black;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
}

#final {
  font-size: 1.5vw;
  color: aliceblue;
  background-color: rgba(155, 159, 170, 0.639);
  padding-left: 3em;
  padding-right: 3em;
  border: 2px solid black;
  margin: 0.5rem auto; /* Center final */
  display: flex;
  justify-content: center;
}

#final > h3 {
  display: flex;
  text-align: center;
}

.animate__animated.animate__bounce {
  --animate-duration: 4s;
  color: aliceblue;
  font-size: 1.2vw;
}

img {
  display: flex;
  max-width: 100%;
  margin: 0 auto; /* Center the image */
}

.table {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0.5vw;
  gap: 0.5vh;
  justify-content: center;
}

.colContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.gridItem {
  flex: 1;
  background-color: rgba(7, 57, 220, 0.817);
  color: rgb(190, 154, 39);
  border: 2px solid black;
  font-size: 1.2vw;
  width: 10vw;
  height: 100%;
  padding: 0.3vw;
  text-align: center;
}

#category-name {
  color: white;
}

.answering input[type="text"],
.answering input[type="number"] {
  border: 1.2px solid black;
  font-size: 1.2vw;
  text-align: center;
  width: 80%;
  margin: 0.5rem auto;
}

.button {
  color: black;
  font-size: 1.2vw;
  background-color: rgb(190, 154, 39);
  border: 2px solid black;
  margin: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#play,
#bet {
  margin: 0.5rem auto;
}

#next {
  margin-left: 60%;
  margin-right: 10%;
}

.scores {
  display: flex;
  justify-content: center;
}
.scores > p {
  color: aliceblue;
  font-size: 1.2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

footer {
  font-size: 1vw;
  color: aliceblue;
  background-color: rgba(7, 57, 220, 0.993);
  border: 2px solid black;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  position: sticky;
  bottom: 0;
}

@media (max-width: 768px) {
  .gridItem {
    font-size: 1vw;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  #wrapper1,
  #wrapper2,
  #wrapper3,
  #wrapper4 {
    font-size: 5vw;
  }

  .button {
    font-size: 5vw;
  }

  .table {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .gridItem {
    font-size: 5vw;
    width: 80vw;
  }

  h1,
  h2,
  h3,
  #header1,
  #finalBoard,
  #final,
  label,
  .animate__animated.animate__bounce,
  .answering input[type="text"],
  .answering input[type="number"],
  .scores > p {
    font-size: 5vw;
  }

  footer {
    font-size: 4vw;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.clicked {
  pointer-events: none;
  color: navy;
}
